defaults: &defaults

development:
  <<: *defaults
  email_sender:
    user: email_address
    password: email_password

  github:
    app_id:
    app_secret:

  admin_emails:
    - xx@qq.com


test:
  <<: *defaults

production:
  <<: *defaults